{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Background Remover App</title>
</head>

<body>
    <div className="main-header">
        <h2>BG-REMOVE</h2>
        <button className="main-cta"><a>Login</a></button>
    </div>

    <div className="main-text">
        <h2>Free Background Remover</h2>
        <p>Free simple background remover.
            Try it Today</p>
    </div>

    <div className='drag-drop-container'>
        <div className='drag-drop-box'>
            <div className="dotted-border">
                <FileUpload />
            </div>

        </div>
    </div>
</body>

</html>